<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.mapper.UserMapper">
    <resultMap id="result-user" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="enabled" column="enabled"/>
        <result property="lastPasswordResetDate" column="last_password_reset_date"/>
        <result property="loginDate" column="login_date"/>

        <collection property="roles" ofType="com.bank.security.domain.Role">
            <id property="id" column="role_id"/><!-- 避免和上面id混淆，设置别名 -->
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="findByUsername" resultMap="result-user">
        SELECT u.id,u.username,u.password,u.email,u.enabled,u.last_password_reset_date,u.login_date,r.id role_id,r.name
        FROM USER u,role r,user_role ur
        WHERE u.enabled=1
        AND u.username = #{username}
        AND ur.user_id = u.id
        AND ur.role_id = r.id
    </select>

    <!-- 批量新增 -->
    <insert id="addUserAuthority">
        insert into user_authority(user_id,authority_id) values
        <foreach collection="authorityIds" item="authorityId" open="" close="" index="index" separator=",">
            (#{userId},#{authorityId})
        </foreach>
    </insert>
</mapper>